		<div id="colorlib-main">
			<div class="hero-wrap js-fullheight" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="js-fullheight d-flex justify-content-center align-items-center">
					<div class="col-md-8 text text-center">
						<div class="img mb-4" style="background-image: url(images/author.jpg);"></div>
						<div class="desc">
							<h2 class="">Hello, I'm</h2>
							<h1 class="mb-4">Kupoluyi Samuel Olamide</h1>
							<p class="mb-4">I am a student, a creative thinker, and a problem solver.
								I enjoy providing solutions. I am a dream chaser.
							.</p>
							<ul class="ftco-social mt-3">
				                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				              </ul>
							<!-- <p><a href="#" class="btn-custom">More About Me <span class="ion-ios-arrow-forward"></span></a></p> -->
						</div>
					</div>
				</div>
			</div>